<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<img class="splash" src="/pics/logos/blktriSplash.jpg">

<div class="homeH1">
  <a href="/shop"><h1>Shop Now</h1></a>
</div>

<div class="scrollMenuOuter">
  <div class="scrollmenu">
    <a href="/productpage/<%= products[0].id %>"><img src="<%= products[0].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[1].id %>"><img src="<%= products[1].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[2].id %>"><img src="<%= products[2].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[3].id %>"><img src="<%= products[3].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[4].id %>"><img src="<%= products[4].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[5].id %>"><img src="<%= products[5].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[6].id %>"><img src="<%= products[6].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[7].id %>"><img src="<%= products[7].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[8].id %>"><img src="<%= products[8].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[9].id %>"><img src="<%= products[9].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[10].id %>"><img src="<%= products[10].imageUrl %>" style="max-width: 300px;"></a>
    <a href="/productpage/<%= products[11].id %>"><img src="<%= products[11].imageUrl %>" style="max-width: 300px;"></a>
  </div>
</div>
