<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

            <div class="card-group top-card-group">
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[0].id %>"><img src="<%= products[0].imageUrl %>" class="card-img-top" alt="<%= products[0].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[0].title %></h5>
                  <p class="card-text text-muted"><%= products[0].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[1].id %>"><img src="<%= products[1].imageUrl %>" class="card-img-top" alt="<%= products[1].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[1].title %></h5>
                  <p class="card-text text-muted"><%= products[1].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[2].id %>"><img src="<%= products[2].imageUrl %>" class="card-img-top" alt="<%= products[2].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[2].title %></h5>
                  <p class="card-text text-muted"><%= products[2].price %></p>
                </div>
              </div>
            </div>
            <div class="card-group">
              <div class="card card-shopPage" >
                <a href="/productpage/<%= products[3].id %>"><img src="<%= products[3].imageUrl %>" class="card-img-top" alt="<%= products[3].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[3].title %></h5>
                  <p class="card-text text-muted"><%= products[3].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[4].id %>"><img src="<%= products[4].imageUrl %>" class="card-img-top" alt="<%= products[4].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[4].title %></h5>
                  <p class="card-text text-muted"><%= products[4].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[5].id %>"><img src="<%= products[5].imageUrl %>" class="card-img-top" alt="<%= products[5].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[5].title %></h5>
                  <p class="card-text text-muted"><%= products[5].price %></p>
                </div>
              </div>
            </div>
            <div class="card-group">
              <div class="card card-shopPage" >
                <a href="/productpage/<%= products[6].id %>"><img src="<%= products[6].imageUrl %>" class="card-img-top" alt="<%= products[6].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[6].title %></h5>
                  <p class="card-text text-muted"><%= products[6].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[7].id %>"><img src="<%= products[7].imageUrl %>" class="card-img-top" alt="<%= products[7].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[7].title %></h5>
                  <p class="card-text text-muted"><%= products[7].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[8].id %>"><img src="<%= products[8].imageUrl %>" class="card-img-top" alt="<%= products[8].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[8].title %></h5>
                  <p class="card-text text-muted"><%= products[8].price %></p>
                </div>
              </div>
            </div>
            <div class="card-group">
              <div class="card card-shopPage" >
                <a href="/productpage/<%= products[9].id %>"><img src="<%= products[9].imageUrl %>" class="card-img-top" alt="<%= products[9].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[9].title %></h5>
                  <p class="card-text text-muted"><%= products[9].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[10].id %>"><img src="<%= products[10].imageUrl %>" class="card-img-top" alt="<%= products[10].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[10].title %></h5>
                  <p class="card-text text-muted"><%= products[10].price %></p>
                </div>
              </div>
              <div class="card card-shopPage">
                <a href="/productpage/<%= products[11].id %>"><img src="<%= products[11].imageUrl %>" class="card-img-top" alt="<%= products[11].title %>"></a>
                <div class="card-body">
                  <h5 class="card-title"><%= products[11].title %></h5>
                  <p class="card-text text-muted"><%= products[11].price %></p>
                </div>
              </div>
            </div>
